.druplippy {
	position: fixed;
	right: 20px;
	bottom: 0px;
}

.druplippy-entries {
  background: #fffecb;
  border: 2px solid black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  position: relative;
}

.druplippy-entries:after, .druplippy-entries:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.druplippy-entries:after {
	border-color: rgba(255, 254, 203, 0);
	border-top-color: #fffecb;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.druplippy-entries:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000;
	border-width: 23px;
	left: 50%;
	margin-left: -23px;
}

.druplippy .ui-icon-circle-close {
	float: right;
}

.druplippy img {
  margin: 20px 0 0 45px;
}
